{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="margin-bottom: 0px; background-image: url('https://images.unsplash.com/photo-1611330336123-9d2be2741fda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contact Me</h1>
            <span class="subheading">Have questions? I have answers.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div style=" margin-bottom: 50px;">
  <a href='https://unsplash.com/@amr_taha' style="font-size: .7rem; font-weight: lighter;">photo by Amr Taha™ from unsplash.com</a>
</div>

  <!-- Main Content -->

  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p style="color: lightgreen;">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if current_user.is_authenticated %}
          <label>Name</label>
          <br>
          <label>{{current_user.name}}</label>
          <br>
          <br>
          <label>Email</label>
          <br>
          <label>{{current_user.email}}</label>
          <br>
          <br>
        {% endif %}
       {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>

  <hr>

{% include "footer.html" %}
{% endblock %}