{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="margin-bottom: 0px; background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.bZe5CRuf8D_SPAiU_sAYTwHaE8%26pid%3DApi&f=1')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 style="font-size: 3.7rem">Afternoon Cups</h1>
            <span class="subheading">A collection of random musings.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<div style="margin-bottom: 50px; font-size: .7rem; font-weight: lighter;">
  <a href="https://www.klia2.info/klia2/shops/coffee-and-tea-shops/">photo from https://www.klia2.info</a>
</div>

  <!-- Main Content -->
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p style="color: lightgreen;">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="{{ url_for('author_page', author_name=post.author.name, author_id=post.author.id) }}">{{post.author.name}}</a>
            on {{post.date}}
            {% if current_user.id == 1 %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
        </div>
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}