{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="margin-bottom: 0px; background-image: url('https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGJlZ2lubmluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">Start Contributing to the Blog!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div style=" margin-bottom: 50px;">
  <a href='https://unsplash.com/@goian' style="font-size: 1rem; font-weight: lighter;">photo by Ian Schneider from unsplash.com</a>
</div>
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p style="color: lightgreen;">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       {% if not current_user or not current_user.is_authenticated %}
       {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        {% else %}
        <p style="color: red;">{{ current_user.name }} is currently logged in. Please log {{ current_user.name }} out before trying to register.</p>
        {% endif %}
      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}